<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container w3-grayscale-min w3-mobile" id="home">
  
  <div class="w3-display-topmiddle w3-text-white" style="padding:5%">
    <span class="w3-hide-small raleway" style="font-size:4vw;">Lets create something new.</span><br>
    <span class="w3-xxlarge w3-hide-large w3-hide-medium raleway">Lets create something new.</span><br>
  </div>
  <div class="w3-display-bottommiddle w3-text-grey w3-large" style="padding:24px 48px">
    <a href="https://github.com/catyler85"><i class="fab fa-github w3-hover-opacity"></i></a>
    <a href="https://www.linkedin.com/in/corey-tyler-18887820/"><i class="fab fa-linkedin w3-hover-opacity"></i></a>
    <a href="https://www.facebook.com/catyler85"><i class="fab fa-facebook w3-hover-opacity"></i></a>
  </div>
</header>


<!-- About Section-->
<div class="w3-container" style="padding:128px 16px" id="about" ng-controller="portfolioCtrl">
  <h3 class="w3-center">About Me </h3>
  <div class="w3-row-padding" style="margin-top:64px">
    <div class="w3-col l4 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="img/corey_small.jpg" alt="Corey Tyler" style="width:100%">
        <div class="w3-container">
          <h3>Corey Tyler</h3>
          <span class="w3-opacity">Aspiring Web Developer</span>
          <p>Logical thinker with a touch of creativity.</p>
          <p><span class="w3-button w3-light-grey w3-block" ><a href="mailto:catyler85@gmail.com"><i class="fa fa-envelope"></i> Contact</a></span></p>
        </div>
      </div>
    </div>
    <div class="w3-col l8 m6 w3-margin-bottom">
        <h3 ng-hide="true">Skills.</h3>
        <p>I'm an ace when it comes to database development.
          With several years experience using PL/SQL and PGSQL,
          I can write complex SQL
          queries and fine tune them to run more efficiently. </p>
        <p>I've also begun to explore web development
           in my spare time.  My wife is a travel agent and
           I've started developing a CRM web app for her
           to help keep her organized. From this experience,
           I've discovered that I really enjoy web development.  </p>
        <p>I'm naturally curious and am always looking to expand my skill set.
         My Google News feed is filled with articles about coding techniques
         and how to improve your skill.Along with my desire to
         continually learn, I also have a creative side, both artistically
         and technically. Some times as a developer, you need to think
         outside the box to solve a problem.</p>
          <p class="w3-wide w3-tooltip">
            <i class="fa fa-database w3-margin-right"></i>Database
            <span style="position:absolute;left:15;top:20px;border-radius: 10px 10px 0% 0%;"
                  class="w3-text w3-tag w3-light-gray tooltip">
                    Oracle PL/SQL</span>
            <span style="position:absolute;left:15;top:42px;border-radius: 0% 0% 10px 10px;"
                  class="w3-text w3-tag w3-light-gray tooltip">
                    PostgreSQL</span>
          </p>
          <div class="w3-grey stretch show-on-scroll">
            <div class="w3-container w3-blue-grey w3-center" style="width:90%">90%</div>
          </div>
          <p class="w3-wide w3-tooltip">
            <i class="fa fa-desktop w3-margin-right"></i>Back-end
            <span style="position:absolute;left:15;top:20px;;border-radius: 10px 10px 0% 0%;"
                  class="w3-text w3-tag w3-light-gray tooltip">
                    PHP</span>
            <span style="position:absolute;left:15;top:42px;border-radius: 0% 0% 10px 10px;"
                  class="w3-text w3-tag w3-light-gray tooltip">
                    Ruby On Rails</span></p>
          <div class="w3-grey stretch show-on-scroll">
            <div class="w3-container w3-blue-grey w3-center" style="width:70%">70%</div>
          </div>
          <p class="w3-wide w3-tooltip">
            <i class="fa fa-photo w3-margin-right"></i>Front-end
            <span style="position:absolute;left:15;top:20px;border-radius: 10px 10px 0% 0%;"
                  class="w3-text w3-tag w3-light-gray tooltip">
                    JavaScript</span>
            <span style="position:absolute;left:15;top:42px;"
                  class="w3-text w3-tag w3-light-gray tooltip">
                    AngularJS</span>
            <span style="position:absolute;left:15;top:64px;" 
                  class="w3-text w3-tag w3-light-gray tooltip">
                    W3.css</span>
            <span style="position:absolute;left:15;top:86px;border-radius: 0% 0% 10px 10px;"
                  class="w3-text w3-tag w3-light-gray tooltip">
                    Bootstrap</span></p>
          <div class="w3-grey stretch show-on-scroll">
            <div class="w3-container w3-blue-grey w3-center" style="width:60%">60%</div>
          </div>
          <p class="w3-wide w3-tooltip">
            <i class="fas fa-chart-line w3-margin-right"></i>Reporting
            <span style="position:absolute;left:15;top:20px;border-radius: 10px 10px 0% 0%;"
                  class="w3-text w3-tag w3-light-gray tooltip">
                    Tableau</span>
            <span style="position:absolute;left:15;top:42px;border-radius: 0% 0% 10px 10px;"
                  class="w3-text w3-tag w3-light-gray tooltip">
                    Crystal Reports</span></p>
          <div class="w3-grey stretch show-on-scroll">
            <div class="w3-container w3-blue-grey w3-center" style="width:75%">75%</div>
          </div>
    </div>
  </div>
</div>

<!-- CV Section -->
<div class="w3-container w3-light-grey" style="padding:128px 16px" id="cv">
  <h3 class="w3-center">EXPERIENCE</h3>
  <div class="w3-content">
    <!--ROW ONE-->
    <div class="w3-row-padding">
      <h4 class="w3-center">The Hibbert Group</h4>
      <div class="w3-third">
        <span class="w3-large w3-margin-left"><u>June 2016 - Present</u></span>
        <ul class="w3-ul w3-white w3-margin-bottom blinds show-on-scroll">
          <li><h5>Database Developer</h5></li>
          <li class="blinds show-on-scroll">Code using PL/SQL and PGSQL</li>
          <li class="blinds show-on-scroll">Create database objects as needed</li>
          <li class="blinds show-on-scroll">Troubleshoot issues</li>
          <li class="blinds show-on-scroll">Write complex SQL queries</li>
          <li class="blinds show-on-scroll">Create reporting using Tableau and Crystal Reports</li>
        </ul>
      </div>
      <div class="w3-third">
        <span class="w3-large w3-margin-left"><u>June 2014 - June 2016</u></span>
        <ul class="w3-ul w3-white w3-margin-bottom">
          <li><h5>Business Intelligence Specialist</h5></li>
          <li>Write change requests</li>
          <li>Test new or updated database procedures</li>
          <li>Write basic SQL queries</li>
        </ul>
      </div>
      <div class="w3-third">
        <span class="w3-large w3-margin-left"><u>January 2012 - June 2014</u></span>
        <ul class="w3-ul w3-white w3-margin-bottom">
          <li><h5>Technical Specialist</h5></li>
          <li>Process customer direct mail, email and call center requests</li>
          <li>Maintain QA</li>
        </ul>
      </div>
    </div>
    <!--ROW TWO-->
    <div class="w3-row-padding">
      <h4 class="w3-center">Other Employment</h4>
      <div class="w3-third">
        <span class="w3-large"><u>2009-2010</u>
          <p>Audio Visual Solutions</p</span>
        <ul class="w3-ul w3-white w3-margin-bottom">
          <li><h5>A/V System Installer</h5></li>
          <li>Team projects installinging A/V equipment</li>
          <li>Independently worked to install various A/V components in classrooms and offices.</li>
        </ul>
      </div>
      <div class="w3-third">
        <span class="w3-large"><u>2006-2009</u>
          <p>Campbell's Soup</p></span>
        <ul class="w3-ul w3-white w3-margin-bottom">
          <li><h5>Intern</h5></li>
          <li>Led Business Intelligence Project to display MS Access data in Excel using SQL and Visual Basic</li>
          <li>Collaborated with fellow intern on a spray-field control project</li>
        </ul>
      </div>
    </div>
    <!--ROW THREE-->
    <div class="w3-row-padding">
      <h4 class="w3-center">Education</h4>
      <div class="w3-third">
        <span class="w3-large"><u>2011-2012</u>
          <p>Camden County College</p></span>
        <ul class="w3-ul w3-white w3-margin-bottom">
          <li><h5>Electronic Health Records Consultant Certificate</h5></li>
        </ul>
      </div>
      <div class="w3-third">
        <span class="w3-large"><u>2006-2009</u>
          <p>New Jersey Institute of Technology</p></span>
        <ul class="w3-ul w3-white w3-margin-bottom">
          <li><h5>Bachelor of Science – Manufacturing Engineering Technology</h5></li>
        </ul>
      </div>
      <div class="w3-third">
        <span class="w3-large"><u>2004-2006</u>
          <p>Camden County College</p></span>
        <ul class="w3-ul w3-white w3-margin-bottom">
          <li><h5>Associate of Science – Electro-Mechanical Engineering Technology</h5></li>
        </ul>
      </div>
    </div>
  <!--end rows-->
  </div>
</div>

<!-- Contact Section -->
<div class="w3-container" style="padding:128px 16px" id="contact">
  <h3 class="w3-center">CONTACT</h3>
  <p class="w3-center w3-large">Lets get in touch. Send me a message:</p>
  <div class="w3-content" style="margin-top:48px">
    <div class="w3-cell-row w3-center">
      <div class="w3-cell"><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> New Jersey, US</div>
      <div class="w3-cell"><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: catyler85@gmail.com</div>
      <div class="w3-cell"><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Phone: (609) 458-3889</div>
    </div>
    <br>
    <form ng-controller="contactCtrl" name="contactForm">
      <p><input class="w3-input w3-border" type="text" placeholder="Name" required name="Name" ng-model="name"></p>
      <p><input class="w3-input w3-border" type="email" placeholder="Email" required name="Email" ng-model="email"></p>
      <p><input class="w3-input w3-border" type="text" placeholder="Subject" required name="Subject" ng-model="subject"></p>
      <p><input class="w3-input w3-border" type="text" placeholder="Message" required name="Message" ng-model="message"></p>
      <p>
        <button class="w3-button w3-black" ng-click="send()">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </p>
    </form>
  </div>
</div>
